* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 1rem;
    color: #404040;
    text-align: center;
    
}



header {
    background: #c8e3e74b;
  
   
   
}

.container-two{
    text-align: center;
}
.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #c8e3e74b;
}

/* navigation*/

.site-title{
    
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 50px;
    height: 50px;
    align-self: flex-start;
}



nav {
    position: fixed;
    background: #000;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    transform: translateX(0);
    transition: transform 250ms;
}
 ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 2px solid magenta;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #0b0327f3;
    font-weight: 700;
    padding: .25em 0;
    font-size: 3rem;
    
}
.navigation-open {
    transform: translate(-100%);
}

.open-nav {
    border: 0;
    background: 0;
    color: #0b0327f3;
    cursor: pointer;
    align-self: flex-end;
    font-size: 1.5em;
    position: absolute;
    top: 20px;
   
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.close-nav {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
    left: 0;
}


.current-page {
    border-bottom: 1px solid #707070;
}


.current-page:hover {
    color: #707070;
}
strong{
    
    color:#ff713b;
    font-weight: 300; 
}


/* =================
   Typography 
   ================= */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}


h2 {
    font-size: 1.3125rem;
    margin: 0;
    color: #0b0327f3;
}

h2 + p {
    font-weight: 300;
    color: #F18119;
    margin-top: 0;
    
}

.top-text {
    font-size: 1rem;
    margin: 0;
    padding-top: 2px;
    color: #F18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #F18119;
    border-image: linear-gradient(to left, #ff713b, #ffa51d) 1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}


/* =================
   Intro section 
   ================= */
   
.intro {
    background-image: url("../food-one.jpg");
    background-size: cover;
    background-color: #404040;
    background-blend-mode: multiply;
    background-position: center;
    padding: 0 .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}


/* =================
   main-content section 
   ================= */
   
.main-content {
    padding: 2em 1em;
    background: #c8e3e74b;
    
   
}



.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    
}


/* =================
   form
   ================= */
   
.details-collector {
    width: 80%;
    max-width: 300px;
}

.details-collector,
.btn {
    width: 100%;
    border-radius: 5px;
}

.details-collector input {
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .75em;
    padding: .25em;
    border-color: #F18119;
    color: #F18119;
    transform: scale(1);
    transition: transform 250ms;
}

.details-collector input:focus {
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background-image: linear-gradient(to left, #FF713B, #FFA51D);
    color: white;
    transform: scale(1);
    transition: transform 250ms;
}
.one{
    color: aliceblue;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.1);
}


footer {
   
    color: white;
    text-align: center;
    padding: 3em 0;
    background-color: #04020ef3;
}

/* modal */
  
.modal {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 520px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
}

.modal-inner{
    width: 290px;
    margin: 0 auto;
}

.modal-inner-loading{
    text-align: center;
}

/* modal buttons */

.close-modal-btn-container{
    text-align: right;
    margin: 9px;
}

.modal-close-btn {
  font-size: 22px;
  font-weight: bold;
  background-color: transparent;
  border: 1px solid transparent;
  color: whitesmoke;
}

.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

.modal-close-btn:disabled{
    color: whitesmoke;
    opacity: 0.2;
    cursor: not-allowed;
}

.modal-choice-btns{
    margin-top: 10px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}
.modal-choice-btns-reverse{
    flex-direction: row-reverse;
}

.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
}

/* modal input */

input{
    margin-top: 10px; 
    border: 1px solid #212529;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}

/* modal after submit */

.loading{
    width: 100%; 
    margin-top: 10px;
}

.modal-display-name,
.modal-display-number{
    color: fuchsia;
}

.modal-text{
    height: 140px;
    line-height: 23px;
    margin-bottom: 0;
}

.idiot-gif{
    width: 95%;
    margin: 0 auto;
}

.idiot-gif img{
    box-shadow: 1px 1px 3px #999;
    border-radius: 5px;
}


.reveal-btn{
    padding: 15px 17px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px #999;
    margin-top: 20px;
    background-color: #fb923c;
}

.reveal-btn:hover{
     background-color: lightgray;
}

.reveal-btn:active{
     box-shadow: 1px 1px 10px 1px #fb923c;
}

.food-items{
    display: none;
    color: #ee6c4d;
    border: 1px solid;
    margin-top: 10px; 
}

.food-items img{
    width: 250px;
    height: 250px;
}





 
/* =================
   local page 
   ================= */

  
   .header{
    height: 167px;
    
    background-image: url(/ferks-guare-KEZdWfYD-ow-unsplash\ 1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 0px;
    
}

 .header-text{
color: #FFFFFF;
margin: 0 auto;

}

.header-name{
font-size: 39px;
}
.header-text{
    font-size: 22.42px;
}

.section{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
   
   }


.inner-container{
   
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D2D2D2;
}


.food{
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 25px;
}

.hide{
    display: none !important;
}

.ingredient{
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;    
}

.food-details{
    margin-left: 0.5em;
}



.fa-light{
    font-weight: 400;

   
    font-size: 2.5rem;
    
    color: #3C3C3C;
    text-align: center;
    border-color: #DEDEDE;
    border-radius: 50%;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    height: 50px;
    width: 50px;
}

.container{
    
    justify-content: space-between;
    
    
   
}

.food-container{
   display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 37%;  
}

.emoji{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #3C3C3C;
    
}



.order-header{
    text-align: center;
    font-size: 1.75rem;
    line-height: 17px;
    color: #000000;
}

.order-div{
    display: flex;
    justify-content: space-between;
    margin-top: 0.62em;
    align-items: center;
    border-bottom: 1px solid black;
}

.order-table{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

.item{
    display: flex;  
}

.item-name, .item-quantity{
    
    font-size: 1.75rem;
    line-height: 17px;
    color: #000000;
}


.item-price{   
    font-size: 1.25rem;
    line-height: 24px;
    text-align: right;
    color: #000000;
}

.remove-button{
    border: none; 
   
    font-size: 12px;
    line-height: 24px;
    color: #BBBBBB; 
    background: none;
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.total-price{
    font-size: 0.75rem;
    line-height: 24px;
    color: #0E0E0E;
}

.amount{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: right;
    color: #0E0E0E; 
}



.complete-btn{
width: 508px;
height: 60px;
background: linear-gradient(to left, #FF713B, #FFA51D);
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
margin-top: 10px;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
border: none;
border-radius: 3px;
cursor: pointer;
}

.order-form{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 508px;
    height: 548.24px;
    align-items: center;
    
    text-align: center;
    border-radius: 3.88991px;
    padding-top: 2em;
    background: #FFFFFF;

    
}

.form-header{
font-weight: 700;
font-size: 24px;
line-height: 31px;
text-align: center;
}

input{

height: 71.3px;
border: 1.3px light #757575;
font-weight: 400;
font-size: 20px;
line-height: 31px;
color: #757575;
margin-bottom: 1em;
}

.pay{
    width: 475.91px;
    height: 71.3px;
    top: 1048px;
    background: linear-gradient(to left, #FF713B, #FFA51D);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

 .pending-message{
    margin: 0 auto;
    width: 504px;
height: 120px;
display: none;
background: #ECFDF5;
border-radius: 3px;
color: #FF713B;
font-size: 28px;
text-align: center;
align-items: center;
}

main{
    background: #c8e3e74b;  
}



/* =================
   media queries 
   ================= */
   
@media (min-width: 500px) {
    .container-two {
        font-size: 1.125rem;
        display: flex;
    }

    
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    
    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .container-flex {
        flex-direction: row;
    }

    .open-nav,
    .close-nav {
        display: none;
    }
    
    .nav {
        position: initial;
        background-color: #c8e3e74b;
        
    }

    ul{
        flex-direction: row;
        border: none;
        justify-content: center;
    }
    .nav-link, .current-page {
        font-size: 1rem;
    }

    .site-title{
        width: 70px;
        height: 70px;
        margin-left: 3em;
    }

    .open-nav {
    
        
        padding: .5em;
       
        font-size: 1.5em;
        
    }
    
    
}

@media (max-width: 675px) {
  
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }


    main .outer-container{
        margin: 0 auto;
    }
     main{
        width: 100%;
        
    }
    .emoji{
        width: 80px;
        height: 80px
    }

    .header{
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    
    

.complete-btn{
    width: 100%;
   
}



form{
    margin: 0 auto;
    height: 450px;
    padding-top: 2em;
}

.order-form, .order-form input, .order-form .pay{
    width: 90%;
    
  
}

.food, .order-header, .item-name, .total-price, .form-header{
font-size: 1rem;
}

.amount{
    font-size: 16px;
}

.item-price, input{
    font-size: 14px;
}

.price{
    font-size: 12px;
}

 .pending-message{
    font-size: 20px;
    width: 100%;
    
}

    
   
}

/* =================
   about-us 
   ================= */
   .section{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
   
   }

   .section-ceo{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
   }

.ceo{
    display: flex;
    flex-direction: row;
    justify-content: center;
  align-items: center;
  gap: 10px;
  
  width: 100%;
  padding-top: 3%;
    
}

.ceo-picture{
   
    
    margin-bottom: 10px;
  
  object-fit: cover;
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.my-content{
    max-width: 42.5em;
    margin: 0 auto;
}

@media (min-width:776px){
    .ceo-picture{
        width: 30%;
        height: 400px;
    }
}
@media (max-width:776px) {
    
   .ceo{
    flex-direction: column;
    

   } 

   .ceo-picture{
    max-width: 100%;
   }
  

   .section{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
   }
   
  
}

@media (max-width:675px) {
    .ceo-picture{
    max-width: 100%;
     flex-direction: column;
     
 
    } 
    .section{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
       }
 }

 @media (max-width:500px) {
    .ceo{
        flex-direction: column;
        max-width: 100%;
    
 
    } 

   
    .section{
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 auto;
       }
 }